textarea {
    min-height: 400px;
}
.time-stamp-header {
    color: lightgray;
    text-align: right;
    position: absolute;
    right: 5px;
} 
.message-box {
    border: 1px solid black;
    padding-left: 5px;
    position: relative;
}
.message-box:hover {
    cursor: pointer;
}

.sender-header {
    font-weight: bold;
}
.body-header {
    margin-left: 15px;
    position: absolute;
    left: 25%;
}
#email-view {
    font-weight: bold;
}
#email-view span, #email-body {
    font-weight: normal;
}
